<header>
    <div class="container">
        <div class="header-left">
            <a href="../pages/index.html" class="logo">
                <span class="logo-text">沃德汽车电子</span>
            </a>
        </div>
        
        <div class="header-right">
            <!-- 移动端汉堡包菜单按钮 -->
            <button class="mobile-menu-toggle" id="mobileMenuToggle">
                <span></span>
                <span></span>
                <span></span>
            </button>
            
            <nav>
                <ul id="mobileMenu">
                    <li><a href="index.html" data-translate="home">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn" data-translate="about">About</a>
                        <div class="dropdown-menu">
                            <a href="profile.html" data-translate="goWorldProfile">Go-World Profile</a>
                            <a href="rd-equipment.html" data-translate="rdEquipment">R&D and Equipment</a>
                        </div>
                    </li>
                    <li><a href="products.html" data-translate="products">Products</a></li>
                    <li><a href="news.html" data-translate="news">News</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn" data-translate="support">Support</a>
                        <div class="dropdown-menu">
                            <a href="faq.html" data-translate="faqs">FAQs</a>
                            <a href="videos.html" data-translate="videos">Videos</a>
                        </div>
                    </li>
                    <li><a href="contact.html" data-translate="contactUs">Contact us</a></li>
                    <li class="language-nav">
                        <button class="language-toggle" id="langToggle">
                            <span id="currentLang">EN</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>